
	/*! ColorsHsl */
$black-hsl: var(--black-hsl);
$dark-gray1-hsl: var(--dark-gray1-hsl);
$dark-gray2-hsl: var(--dark-gray2-hsl);
$dark-gray3-hsl: var(--dark-gray3-hsl);
$dark-gray4-hsl: var(--dark-gray4-hsl);
$dark-gray5-hsl: var(--dark-gray5-hsl);
$gray1-hsl: var(--gray1-hsl);
$gray2-hsl: var(--gray2-hsl);
$gray3-hsl: var(--gray3-hsl);
$gray4-hsl: var(--gray4-hsl);
$gray5-hsl: var(--gray5-hsl);
$light-gray1-hsl: var(--light-gray1-hsl);
$light-gray2-hsl: var(--light-gray2-hsl);
$light-gray3-hsl: var(--light-gray3-hsl);
$light-gray4-hsl: var(--light-gray4-hsl);
$light-gray5-hsl: var(--light-gray5-hsl);
$white-hsl: var(--white-hsl);

	/*! ICRC */
$icrc-red-hsl: var(--icrc-red-hsl);
$icrc-black-hsl: var(--icrc-black-hsl);
$icrc-gray-light-hsl: var(--icrc-gray-light-hsl);
$red-hue: var(--red-hue);
$red1-hsl: var(--red1-hsl);
$red2-hsl: var(--red2-hsl);
$red3-hsl: var(--red3-hsl);
$red4-hsl: var(--red4-hsl);
$red5-hsl: var(--red5-hsl);
$red6-hsl: var(--red6-hsl);
$cerulean-hue: var(--cerulean-hue);
$cerulean1-hsl: var(--cerulean1-hsl);
$cerulean2-hsl: var(--cerulean2-hsl);
$cerulean3-hsl: var(--cerulean3-hsl);
$cerulean4-hsl: var(--cerulean4-hsl);
$cerulean5-hsl: var(--cerulean5-hsl);
$cerulean6-hsl: var(--cerulean6-hsl);
$orange-hue: var(--orange-hue);
$orange1-hsl: var(--orange1-hsl);
$orange2-hsl: var(--orange2-hsl);
$orange3-hsl: var(--orange3-hsl);
$orange4-hsl: var(--orange4-hsl);
$orange5-hsl: var(--orange5-hsl);
$orange6-hsl: var(--orange6-hsl);
$green-hue: var(--green-hue);
$green1-hsl: var(--green1-hsl);
$green2-hsl: var(--green2-hsl);
$green3-hsl: var(--green3-hsl);
$green4-hsl: var(--green4-hsl);
$green5-hsl: var(--green5-hsl);
$green6-hsl: var(--green6-hsl);
$gold-hue: var(--gold-hue);
$gold1-hsl: var(--gold1-hsl);
$gold2-hsl: var(--gold2-hsl);
$gold3-hsl: var(--gold3-hsl);
$gold4-hsl: var(--gold4-hsl);
$gold5-hsl: var(--gold5-hsl);
$gold6-hsl: var(--gold6-hsl);
$primary1-hsl: var(--primary1-hsl);
$primary2-hsl: var(--primary2-hsl);
$primary3-hsl: var(--primary3-hsl);
$primary4-hsl: var(--primary4-hsl);
$primary5-hsl: var(--primary5-hsl);
$primary6-hsl: var(--primary6-hsl);
$warning1-hsl: var(--warning1-hsl);
$warning2-hsl: var(--warning2-hsl);
$warning3-hsl: var(--warning3-hsl);
$warning4-hsl: var(--warning4-hsl);
$warning5-hsl: var(--warning5-hsl);
$warning6-hsl: var(--warning6-hsl);
$pt-text-color: var(--pt-text-color);
$pt-heading-color: var(--pt-heading-color);
$pt-link-color: var(--pt-link-color);
$pt-text-selection-color: var(--pt-text-selection-color);
$pt-font-family-sans: var(--pt-font-family-sans);
$pt-font-family-monospace: var(--pt-font-family-monospace);
$pt-border-radius: var(--pt-border-radius);
$pt-grid-size: var(--pt-grid-size);
